/* CSS Document */

html {
	height: 100%;
	background-color: #ACCBE5;
}

body {
	width: 100%;
	margin: 0px;
	background-color: #ACCBE5;
	background-image: linear-gradient(180deg, white, #B8D8F2 20%, #ACCBE5);
	height: 98%;
	font-family: 'Muli', sans-serif;
}

#outerheader {
	height: 64px;
	display: flex;
	justify-content: center;
	padding: 16px;
}

#maintitle {
	margin-left: 16px;
	top: 0;

	font-size: 48px;
	margin: 0px;
	margin-left: 16px;
}

#mainlogo {
	width: 64px;
	height: 64px;
}

@media screen {

#mainmap {
	min-width: 450px;
	min-height: 600px;
	background-image: url(images/ukmap.png);
	background-size: 450px 600px;
	background-repeat: no-repeat;
	background-position: top center;
}

.bclist {
	list-style-type: none;
	font-weight: bold;
	display: inline;
	position: relative;
	top: 50%;
	left: 50%;
}

.bclist li {
	height: 32px;
	background-image: url(images/barcamp_uk_logo.png);
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: left;
	font-size: 14px;
	padding-left: 36px;
	position: absolute;
	top: 50%;
	left: 50%;
}

.bclist li a {
	text-decoration: none;
	color: black;
}

.bclist #bcristol {
	margin-left: 25px;
	margin-top: 490px;
}

.bclist #bcbrum {
	margin-left: 50px;
	margin-top: 415px;
}

.bclist #bccanterbury {
	background-image: url(images/barcamp_canterbury_logo.png);
	margin-left: 150px;
	margin-top: 505px;
}

.bclist #bclondon {
	background-image: url(images/barcamp_london_logo.png);
	margin-left: 110px;
	margin-top: 465px;
}

.bclist #bcmanchester {
	background-image: url(images/barcamp_manchester_logo.png);
	margin-left: 35px;
	margin-top: 355px;
}

.bclist #bcne {
	background-image: url(images/barcamp_northeast_logo.png);
	margin-left: 60px;
	margin-top: 270px;
}

.bclist #bcsouthampton {
	background-image: url(images/barcamp_southampton_logo.png);
	margin-left: 65px;
	margin-top: 535px;
}

.lowerright {
    position: fixed;
    bottom: 8px;
    right: 8px;
	padding: 12px;
	font-weight: bold;
	background-color: #B8D8F2CF;
}

}

@media print {

#mainmap {
	padding-top: 32px;
}

.lowerright {
	display: none;
}

}
